/* Price.module.css */

.Price_container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* gap-4 */
    justify-content: center;
    height: 100%;
    padding: 2rem;
  }
  
  .Price_totalPrice {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
  }
  
  .Price_optionsContainer {
    display: flex;
    gap: 1rem;
  }
  
  .Price_optionButton {
    min-width: 6rem;
    padding: 0.5rem;
    border: 1px solid var(--icons-color);
    border-radius: 0.375rem;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .Price_optionButtonSelected {
    background-color: var(--icons-color);
    color: white;
  }
  
  .Price_actionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Price_quantityContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--icons-color); 
    background-color: var(--icons-color);
    border-radius: 0.375rem;
  }
  
  .Price_quantityControls {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .Price_cartButton {
    margin-left: 20px;
    text-transform: uppercase;
    width: 14rem; /* w-56 */
    background-color: var(--icons-color); /* bg-red-500 */
    color: white;
    padding: 0.75rem;
    border: 1px solid var(--icons-color); /* ring-red-500 */
    cursor: pointer;
    border-radius: 0.375rem;
  }

  .Price_setquantity{
    border-radius: 50%;
    border: 1px solid var(--icons-color);
  }
  